---
layout: index
title: lijiao's study notes
author:
keywords: kubernetes,k8s,linux,golang,calico,openwrt
description: HyperLedger视频教程，超级账本HyperLedger实践学习资料，kubernetes、k8s、linux、golang、calico、openwrt等开源项目学习。
notinclude: no
---

<div class="postlist">
	<!-- 遍历分页后的文章 -->
	{% for post in paginator.posts %}
		{% if  post.categories[0] != page.notinclude %}
			<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
			<div class="postinfo" >
				<p><span><a href="{{ site.baseurl }}/categories/{{ post.categories }}.html">{{ post.categories }}</a> / <a href="{{ site.baseurl }}/2010/10/10/about.html">{{ post.author }}</a> / {{ post.createdate }} 
				{% for tag in post.tags offset:1 %}
				<a href="{{ site.baseurl }}/tags/{{ tag }}.html">{{ tag }} </a>
				{% endfor %} 
				<span></p>
			</div>
			<div class="postdesc">
				<p>{{ post.description }}... <a href="{{ site.baseurl }}{{ post.url }}">more</a><p>
			</div>
			<hr>
		{% endif %}
	{% endfor %}
</div>

<!-- 分页链接 -->
{% if paginator.total_pages > 1 %}
<div class="pageination">
  {% if paginator.previous_page %}
    <a href="{{ '/index.html' | prepend: paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; 上一页</a>
  {% else %}
    <span>&laquo; 上一页</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}/index.html"/>{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}/index.html">下一页 &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
<hr>
