.row {
	margin-left: 0;
	margin-right: 0;
}

.body {
	padding-left:0px;
	padding-top:0px;
	font-family:"宋体";
	-ms-overflow-style: scrollbar;
	color: #333333;
}

body.custom-background {
	background-image: url(/img/bg.png);
	background-position: left top;
	background-size: auto;
	background-repeat: repeat;
	background-attachment: scroll;
}

td,th{
	padding-left: 10px;
}

.topnav {
	border-radius: 0px; 
	margin-bottom: 0px;
}

.noticerow {
	text-align: center;
}

.main {
	margin: 0 auto;
	padding: 0px;
	background-color: #ffffff;
}

.main ol {
    background-color: black;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
}

.main  ol li{
    font-size: 0.95em;
}

.main  ol li p{
    font-size: 0.95em;
}

.foot {
	margin-top: 20px;
	padding-top:10px;
	text-align:center;
	background-color: #5a5a5a;
}

.lsidebar {
	text-align:left;
	margin: 0px;
	padding: 15px 0px 0px 10px;
}

.rsidebar {
	margin: 0px;
	padding: 0px;
	text-align:center;
	width:300px;
}

.center {
	padding:0px;
	margin:0px;
}

.mainbottom {
	padding-top:10px;
	text-align: center;
}

.mainbottomleft {
	padding-top:10px;
	float:left;
}

.mainbottomright {
	padding-top:10px;
	float:right;
	text-align:center;
}

.rsidebar-content {
}

.rsidebar-element {

}

div.rsidebar-element img{
	width: 100%;
}

.searchbar {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
}

.rsidebar-title {
	height:40px;
	line-height:40px;
	border-radius:4px;
	margin-top: 10px;
}

.content {
	padding:0px;
	margin:0px;
}

.pageheader {
	padding:2px;
	margin:2px 0 2px 0;
	text-align: center;
}

.postlist {
	padding:0px;
	margin:0px;
}

.postinfo {

}

.postdesc {

}

.pageination {

}

div.lsidebar ul {
	margin:0px;
	padding:0px;
	position: fixed;
}

div.lsidebar li {
	margin:0px;
	padding:0px;
	display:block;
}

div.lsidebar span {
	display: block;
	float: left;
}

div.center .author {
	font-size:13px;
	text-align:center;
	color: gray;
}

div.center ul{
	list-style: none;
}

div.center p {
	font-size: 16px;
	font-family: 宋体;
	line-height: 180%;
}

div.center img {
	max-width: 90%;
	-webkit-box-shadow: 0 0 10px #555;
	display:block;
	margin:0 auto;
}

div.center h1 {
	font-size:30px;
	font-family: "思源黑体";
	font-weight:bold;
	text-align:center;
}

div.center h2 {
	border-left: 8px solid #00a67c;
	border-bottom: 1px solid #00a67c;
	font-size:24px;
	font-family: "思源黑体";
	padding:10px;
}

div.center h3 {
	border-left: 8px solid #00a67c;
	border-bottom: 1px solid #00a67c;
	font-size:22px;
	font-family: "思源黑体";
	padding:10px;
}

div.center h4 {
	border-left: 8px solid #00a67c;
	border-bottom: 1px solid #00a67c;
	font-size:18px;
	font-family: "思源黑体";
	padding:10px;
}

div.center h5 {
	border-left: 8px solid #00a67c;
	border-bottom: 1px solid #00a67c;
	font-size:16px;
	font-family: "思源黑体";
	padding:10px;
}

div.center h6 {
	border-left: 8px solid #00a67c;
	border-bottom: 1px solid #00a67c;
	font-size:15px;
	font-family: "思源黑体";
	padding:10px;
}

div.center pre {
	font-family: Inconsolata, Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy, monospace;
	font-size: 90%;
	border: solid 0px lightgrey;
	background-color: #242424;
	color: #DDDDDD;
	padding: 10px;
	line-height: 1.3;
	-webkit-overflow-scrolling:touch;
	word-wrap: normal;
	overflow: auto;
}

div.center pre code {
	white-space: pre;
	color: #FFFFFF;
}

div.postlist p {
	line-height:130%;
	padding-top:5px;
	padding-left:0px
}

div.postlist h2 {
	font-size:20px;
	font-family: 宋体;
	background-color: white;
}

div.postinfo p {
	font-size:13px;
	padding-top:0px;
	padding-left:3px
}

div.postdesc p {
	font-size:15px;
	padding-top:0px;
	padding-left:1px;
	color: #888;
}

div.mainbottomleft h2 {
	text-align:center;
}

div.mainbottomright h2 {
	text-align:center;
}

div.rsidebar img {
	-webkit-box-shadow: 0 0 10px #555;
}

div.rsidebar-title p {
	border-radius:4px;
	background-image:-webkit-linear-gradient(to bottom, #e8e8e8, #ffffff);
	background-image:linear-gradient(to bottom,#e8e8e8,#ffffff);
}

@media (min-width: 1200px) {
	.main {
		width:1200px
	}
	.lsidebar {
		width:150px;
	}
	.center {
		width:750px;
	}
	.rsidebar {
		width:300px;
	}
}

@media (min-width: 970px) and (max-width: 1200px) {
	.main {
		width:970px
	}
	.lsidebar {
		width:100px;
	}
	.center {
		width:650px;
	}
	.rsidebar {
		width:220px;
	}
}
@media (max-width: 970px) {
	.main {
	}
	.lsidebar {
	}
	.center {
		padding: 0px 15px 0px 15px;
	}
	.rsidebar {
	}
	div.center img {
		max-width: 100%;
	}
}
/*百度搜索框*/
.bdcs-container {
	width:100%;
}
.bdcs-container .bdcs-search-form-input{
	width: 60%;
}
.bdcs-container .bdcs-search{
	width:100%;
}
/*Google*/
.search {
	width: 60%;
}

