.topnav{
	border-radius: 0px;  
}

.body {
	background-color: #ffffff;
	padding-left:0px;
	padding-top:0px;
	font-family: 宋体;
	-ms-overflow-style: scrollbar;
}

.main{
	padding-top:10px;
	background-color: #ffffff;
}

.searchbar{
	padding-top:5px;
	padding-bottom:5px;
	height: 80px;
}

.searchbarLinks{
	padding-top:23px;
	padding-bottom:2px;
}

.center{
	margin-left:0px;
}

div.center p{
	font-size:16px;
	font-family: 宋体;
	line-height: 180%;
	padding:0px;
}
div.center img{
	max-width:100%;
}
div.center h1 {
	font-size:26px;
	font-family: 宋体;
	font-weight:bold;
	color:black;
}
div.center h2 {
	font-size:24px;
	font-family: 宋体;
	font-weight:bold;
	color:black;
}
div.center h3 {
	font-size:22px;
	font-family: 宋体;
	font-weight:bold;
	color:black;
}
div.center h4 {
	font-size:20px;
	font-family: 宋体;
	font-weight:bold;
	color:black;
}
div.center h5 {
	font-size:18px;
	font-family: 宋体;
	font-weight:bold;
	color:black;
}
div.center h6 {
	font-size:16px;
	font-family: 宋体;
	font-weight:bold;
	color:black;
}
div.center h2 a{
	color: #000000;
}

div.center pre{
	font-size: 13px;
	overflow: auto;
}

div.center pre code{
	white-space: pre;
}

div.postlist p{
	line-height:130%;
	padding-top:5px;
	padding-left:0px
}

div.postinfo p{
	font-size:13px;
	padding-top:0px;
	padding-left:3px
}

div.postdesc p{
	padding-top:0px;
	padding-left:1px;
	color: #888;
}

.mainbottomleft{
	padding-top:10px;
	float:left;
}

.mainbottomright{
	padding-top:10px;
	float:right;
	text-align:center;
}

.rsidebar{
	text-align:center;
}

.rsidebar-title{
	height:40px;
	line-height:40px;
	border-radius:4px;
	margin-top: 10px;
}
div.rsidebar-title p{
	border-radius:4px;
	background-image:-webkit-linear-gradient(to bottom, #e8e8e8, #ffffff);
	background-image:linear-gradient(to bottom,#e8e8e8,#ffffff);
}
.rsidebar-content{
}

.rsidebar-element{
	padding-left:0px;
	padding-bottom:0px;
}

.foot{
	margin-top: 20px;
	padding-top:10px;
	text-align:center;
	background-color: #5a5a5a;
}
