---
layout: category
title: 前端
author: lijiaocn
keywords:  前端
description: 记录前端、用户交互、UI、图形界面方面的内容

---

{% for cate in site.categories %}
	{% if cate[0] == page.title %}
		<div class="postlist">
		{% for post in cate[1] %}
			<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
			<div class="postinfo" >
				<p><span>{{ post.tags }} / {{ post.author }} / {{ post.createdate }}</span></p>
			</div>
			<div class="postdesc">
				<p>{{ post.description }}... <a href="{{ site.baseurl }}{{ post.url }}">more</a><p>
			</div>
		{% endfor %}
		</div>
	{% endif %}
{% endfor %}
