---
layout: category
title:  手册
keywords:  手册,索引手册,参考手册,速查手册
description: 手册汇总,用于快速查询

---

{% for cate in site.categories %}
	{% if cate[0] == page.title %}
		<div class="postlist">
		{% for post in cate[1] %}
			<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
			<div class="postinfo" >
				<p><span>{{ post.tags }} / {{ post.author }} / {{ post.createdate }}</span></p>
			</div>
			<div class="postdesc">
				<p>{{ post.description }}... <a href="{{ site.baseurl }}{{ post.url }}">more</a><p>
			</div>
		{% endfor %}
		</div>
	{% endif %}
{% endfor %}
