---
layout: category
title:  技巧
author: lijiaocn
keywords:  技巧,使用技巧,使用方法
description: 记录了常用的软件、工作技巧。

---

{% for cate in site.categories %}
	{% if cate[0] == page.title %}
		<div class="postlist">
		{% for post in cate[1] %}
			<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
			<div class="postinfo" >
				<p><span>{{ post.tags }} / {{ post.author }} / {{ post.createdate }}</span></p>
			</div>
			<div class="postdesc">
				<p>{{ post.description }}... <a href="{{ site.baseurl }}{{ post.url }}">more</a><p>
			</div>
		{% endfor %}
		</div>
	{% endif %}
{% endfor %}
