---
layout: category
title:  编程
keywords:  编程,编程语言,编程手册
description: 编程语言学习

---

{% for cate in site.categories %}
	{% if cate[0] == page.title %}
		<div class="postlist">
		{% for post in cate[1] %}
			<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
			<div class="postinfo" >
				<p><span>{{ post.tags }} / {{ post.author }} / {{ post.createdate }}</span></p>
			</div>
			<div class="postdesc">
				<p>{{ post.description }}... <a href="{{ site.baseurl }}{{ post.url }}">more</a><p>
			</div>
		{% endfor %}
		</div>
	{% endif %}
{% endfor %}
