<p>
<span>{{ site.ICP-number }}</span>
<span>{{ site.Copyright }}</span>
<span>转载请添加原文连接，合作请加微信lijiaocn或者发送邮件: lijiaocn@foxmail.com，备注网站合作</span>
</p>

<p>
<span>友情链接:</span>&nbsp;
<span><a style="color:white" href="/">李佶澳的博客</a></span>&nbsp;
<span><a style="color:white"  href="/note/">小鸟笔记</a></span>&nbsp;
<span><a style="color:white"  href="/soft/">软件手册</a></span>&nbsp;
<span><a style="color:white"  href="/prog/">编程手册</a></span>&nbsp;
<span><a style="color:white"  href="/oper/">运营手册</a></span>&nbsp;
<span><a style="color:white"  href="/coder/">爱马影视</a></span>&nbsp;
<span><a style="color:white"  href="/class/">网络课程</a></span>&nbsp;
<span><a style="color:white"  href="/skill/">奇技淫巧</a></span>&nbsp;
<span><a style="color:white"  href="/tutorial/">课程文档</a></span>&nbsp;
<span><a style="color:white"  href="/wechat/news/">精选文章</a></span>&nbsp;
<span><a style="color:white"  href="https://www.kindkp.com/">发现知识星球</a></span>&nbsp;
<span><a style="color:white"  href="https://www.baidu.com/">百度搜索</a></span>
<span><a style="color:white"  href="https://www.google.com/">谷歌搜索</a></span>
</p>
