<head>
	<meta charset="utf-8" content="text/html">
	<meta name="keywords" content="{{ page.keywords }},{{ page.tags }},教程文档">
	<meta name="description" content="{{ page.author }}撰写的关于{{ page.keywords }}的视频教程文档，包括视频演示文档和学习资料笔记。{{ page.description }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="{{ site.baseurl }}/style/bootstrap-3.3.7.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/bootstrap-theme-3.3.7.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/default.css">
	<link rel="alternate" type="application/rss+xml" title="李佶澳的学习笔记" href="/feed.xml">
	<script async="async" src="{{ site.baseurl }}/js/head.js" ></script>
	<!--script src="//msite.baidu.com/sdk/c.js?appid=1584040578470474"></script-->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-8176866190626448",
    enable_page_level_ads: true
  });
</script>
</head>
