<head>
	<meta charset="utf-8" content="text/html">
	<meta name="keywords" content="lijiaocn,{{ page.keywords }},{{ page.tags }},{{ page.author }}">
	<meta name="description" content="{{ page.description }},{{ page.title }},来自lijiaocn">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }}|lijiaocn</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/default.css">
	<script src="{{ site.baseurl }}/js/head.js"></script>
	<!--Google adsense -->
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
	  (adsbygoogle = window.adsbygoogle || []).push({
		google_ad_client: "ca-pub-2163253688174012",
		enable_page_level_ads: true
	  });
	</script>
</head>
