<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="{{ page.keywords }}{{ page.tags }},教程文档">
	<meta name="description" content="{{ page.description }}。{{ page.author }}的博客发布的与{{ page.keywords | replace: ',', '、' }}相关的文章">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }} | 李佶澳的博客</title>
	<link rel="stylesheet" href="{{ site.baseurl }}/style/bootstrap-3.3.7.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/bootstrap-theme-3.3.7.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/default.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/highlight.css">
	<link rel="alternate" type="application/rss+xml" title="李佶澳的学习笔记" href="/feed.xml">

	<link rel="shortcut icon" href="/favicon.ico"/>
	<link rel="bookmark" href="/favicon.ico"/>

	<!--Google ads -->
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
	  (adsbygoogle = window.adsbygoogle || []).push({
	    google_ad_client: "ca-pub-8176866190626448",
	    enable_page_level_ads: true
	  });
	</script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-105389858-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'UA-105389858-1');
	</script>
	<script async="async" src="{{ site.baseurl }}/js/head.js" ></script>
</head>
