<div class="row rsidebar-content">
	<div class="col-xs-12 rsidebar-element searchbar">
		<form action="https://www.google.com/search" class="searchform" method="get" name="searchform" target="_blank">
		<div class="row">
			<div class="col-xs-12 rsidebar-element">
				<input name="sitesearch" type="hidden" value="lijiaocn.com">
				<input autocomplete="on" class="form-controls search" name="q" placeholder="站内搜索" required="required"  type="text">
				<button class="button" type="submit">Google</button>
			</div>
		</div>
		</form>
	</div>
	<div class="col-xs-12 rsidebar-element searchbar">
<script type="text/javascript">(function(){document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E'));var bdcs = document.createElement('script');bdcs.type = 'text/javascript';bdcs.async = true;bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=9223757389429746735' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date()/3600000);var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(bdcs, s);})();</script>
	</div>

	<div class="col-xs-12 rsidebar-element">
		<a target="_blank" href="https://study.163.com/provider/400000000376006/course.htm?share=2&shareId=400000000376006"><img src="{{ site.imglocal }}/player.png"></img></a>
		<a target="_blank" href="https://study.163.com/provider/400000000376006/course.htm?share=2&shareId=400000000376006"><h4>云课堂·视频讲解（点我了解）</h4></a>
	</div>

	<!--div class="col-xs-12 rsidebar-element" style="color:#337ab7">
		<h4>QQ交流群</h4>
		<p>区块链实践互助QQ群：576555864</p>
		<p>Kubernetes实践互助QQ群：947371129</p>
		<p>Prometheus实践互助QQ群：952461804</p>
		<p>Kong/Envoy实践互助QQ群：952503851</p>
		<p>Ansible实践互助QQ群：955105412</p>
	</div-->
	<div class="col-xs-12 rsidebar-element">
		<img src="{{ site.imglocal }}/class.jpg"></img>
	</div>
	<div class="col-xs-12 rsidebar-element">
		<a href="/好货/2018/04/25/fu-fei-she-que.html"><h4>不贵、回报超高的付费社区都有哪些？（知识星球）</h4></a>
	</div>
	<div class="col-xs-12 rsidebar-element">
		<img src="{{ site.imglocal }}/xiaomiquan-money-free.jpeg"></img>
	</div>
	<div class="col-xs-12 rsidebar-element">
		<img src="{{ site.imglocal }}/xiaomiquan-caoz.png"></img>
	</div>
	<div class="col-xs-12 rsidebar-element">
		<img src="{{ site.imglocal }}/xiaomiquan-ziliu.png"></img>
	</div>
	<!--div class="col-xs-12 rsidebar-element">
		<img src="{{ site.imglocal }}/xiaomiquan-scys.png"></img>
	</div-->
	<!--div class="col-xs-12 rsidebar-element">
		<img src="{{ site.imglocal }}/tuanhaohuo.jpg"></img>
	</div-->

	<div class="col-xs-12 rsidebar-element">
	<!-- 右侧边栏广告 -->
	<ins class="adsbygoogle"
		 style="display:block"
		 data-ad-client="ca-pub-8176866190626448"
		 data-ad-slot="2723439605"
		 data-ad-format="auto"
		 data-full-width-responsive="true"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
	</div>

	<div class="col-xs-12 rsidebar-element">
	<!-- 右侧边栏广告2 -->
	<ins class="adsbygoogle"
		 style="display:block"
		 data-ad-client="ca-pub-8176866190626448"
		 data-ad-slot="4426808013"
		 data-ad-format="auto"
		 data-full-width-responsive="true"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
	</div>

	<div class="col-xs-12 rsidebar-element">
	<!-- 右侧边栏广告3 -->
	<ins class="adsbygoogle"
		 style="display:block"
		 data-ad-client="ca-pub-8176866190626448"
		 data-ad-slot="3551466770"
		 data-ad-format="auto"
		 data-full-width-responsive="true"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
	</div>
</div>
