<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<h3 style="color:red;text-align:center">
	<a style="color:red" href="https://www.lijiaocn.com/img/wangyi-class.png">限时活动，每邀请一人即返回25元！(点击扫码分享课程)</a>
	</h3>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 底部横幅广告 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8176866190626448"
     data-ad-slot="4061827929"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
	<img src="{{ site.imglocal }}/xiaomiquan-class.jpeg"></img>
</div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
	<img src="{{ site.imglocal }}/xiaomiquan-money.jpeg"></img>
	<!--img src="{{ site.imglocal }}/hyperledger-class/fabric-class-all.jpeg"></img-->
</div>

<!--div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
	<div class= "mainbottomright">
		<h2>关注获取作者微信</h2>
		<img src="{{ site.imglocal }}/class.jpg"></img>
	</div>
</div-->

<!--div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
</div-->

<!--评论区 waiting-->
<!--PC和WAP自适应版-->

<!--div id="SOHUCS"></div>
<script type="text/javascript">(function(){var appid = 'cytUlAmhF';var conf = 'prod_629a42b8a2cb6818cbadfc690a7c8ffb';var width = window.innerWidth || document.documentElement.clientWidth;
if (width < 960) {window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script-->

<div class="mainbottom col-xs-12 col-sm-12 col-md-12 col-lg-12">
	{% for post in site.related_posts %}
	<p><a href="{{ post.url }}">{{ post.title }}</a></p>
	{% endfor %}
</div>
