<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<h4>推荐阅读</h4>
</div>

<!-- 匹配内容 -->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-8176866190626448"
     data-ad-slot="6443696990"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<div>
<p style="text-align:center;font-size:17px"><a href="/2010/10/10/about.html">站长微信（一般不闲聊）</a></p>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 content"><img height="250px" src="https://www.lijiaocn.com/money/img/self.jpg"></img></div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 content"><img height="250px" src="{{ site.imglocal }}/class.jpg"></img></div>
</div>
