<ul>
<li><p><a target="" style="font-weight:normal;" href="/">首页</a></p></li>
<li><p><a target="_blank" style="font-weight:normal;color:red" href="/soft/">本站精选（必看）</a></p></l>
<li><p><a target="_blank" style="font-weight:normal;color:red" href="/note/">小鸟笔记</a></p></li>
<li><p><a target="_blank" style="font-weight:normal;color:red" href="/money/c/note/">赚钱笔记</a></p></l>

<li><p><a target="" style="font-weight:normal;" href="/tags/kubernetes.html">Kubernetes</a></p></li>
<li><p><a target="" style="font-weight:normal;" href="/tags/monitor.html">Prometheus</a></p></li>
<li><p><a target="" style="font-weight:normal;" href="/tags/blockchain.html">超级账本</a></p></li>
<li><p><a target="" style="font-weight:normal;" href="/tags/toolsbox.html">工具箱</a></p></li>
<li><p><a target="" style="font-weight:normal;" href="/tags/all.html">全站标签</a></p></li>
<ul>
