<!--div class="visible-lg-block col-lg-1"-->
<!-- empty -->
<!--/div-->

<div class="hidden-xs col-sm-6 col-md-4 col-lg-6 searchbar jdsearch">
	<script type="text/javascript">var jd_union_pid="669696402";var jd_union_euid="";</script><script type="text/javascript" src="//ads.union.jd.com/static/js/union.js"></script>
</div>

<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 searchbarLinks">
	<span><a href="https://c.duomai.com/track.php?site_id=224482&aid=3087&euid=lijiaocn&t=http%3A%2F%2Fyou.163.com%2F" style="font-weight:bold;color:red">严选</a>&nbsp</span>
	<span><a href="https://www.tmall.com/" isconvert="1" style="font-weight:bold;color:red">天猫</a>&nbsp</span>
	<span><a href="https://c.duomai.com/track.php?site_id=224482&aid=1737&euid=lijiaocn&t=http%3A%2F%2Fwww.kaola.com%2F" style="font-weight:bold;color:red">考拉</a>&nbsp</span>
	<span><a href="https://www.amazon.cn?tag=znrio-23" style="font-weight:bold;color:red">亚马逊</a></span>
</div>

<div class="hidden-xs hidden-sm hidden-md hidden-lg col-md-3 col-lg-3 search baidusearch">
<!--百度搜索-->
	<a id="search" class="anchor"></a>
	<form name="f1" onsubmit="return g(this)" target="_blank">
		<table bgcolor="#FFFFFF" style="font-size:9pt;">
			<tr height="70">
				<td>
					<input type="text" name="word" onfocus="checkHttps" size="37" maxlength="100" style="margin-left:0px">
					<input type="submit" value="百度" style="margin-left:10px"><br>
					<input name="tn" type="hidden" value="SE_zzsearchcode_shhzc78w">
					<input name="cl" type="hidden" value="3">
					<input name="ct" type="hidden">
					<input name="si" type="hidden" value="lijiaocn.com">
					<div class="mt10">
						<input name="s" type="radio" style="margin-left:50px"> 互联网
						<input name="s" type="radio" style="margin-left:20px" checked> lijiaocn.com
					</div>
				</td>
			</tr>
		</table>
	</form>
</div>
