<!--div class="col-xs-12 col-lg-12" style="float:none;display:block;margin-left:auto;margin-right:auto">
	<!-- JiaThis Button BEGIN -->
	<div class="jiathis_style" style="float:none;display:block;margin-left:auto;margin-right:auto">
		<a class="jiathis_button_qzone"></a>
		<a class="jiathis_button_cqq"></a>
		<a class="jiathis_button_email"></a>
		<a class="jiathis_button_ydnote"></a>
		<a class="jiathis_button_douban"></a>
		<a class="jiathis_button_weixin"></a>
		<a class="jiathis_button_tsina"></a>
		<a class="jiathis_button_fb"></a>
		<a class="jiathis_button_googleplus"></a>
		<a class="jiathis_button_gmail"></a>
		<a class="jiathis_button_twitter"></a>
		<a class="jiathis_button_linkedin"></a>
		<a href="http://www.jiathis.com/share?uid=2126233" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank"></a>
		<a class="jiathis_counter_style"></a>
	</div>
	<script type="text/javascript" >
	var jiathis_config={
		data_track_clickback:true,
		summary:"",
		shortUrl:false,
		hideMore:false
	}
	</script>
	<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=2126233" charset="utf-8"></script>
	<!-- JiaThis Button END -->
	<br>
</div-->
