<nav id="main-nav-bar" class="hidden-xs navbar navbar-inverse navbar-fixed-static">
	<!-- display sm md lg -->
	<div class="container" >
		<div class="navbar-header ">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarshop" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="navbar-brand hidden-sm">
				<span><a href="/" title="主页">lijiaocn</a></span>
				<span class="glyphicon glyphicon-hand-right" style="margin-left:15px"></span>
			</div>

		</div>
		<div class="collapse navbar-collapse " id="navbarshop">
			<ul class="nav navbar-nav">
				{% for tag in site.tags %} 
					<li><a href="{{ site.baseurl }}/tags/{{ tag[0]}}.html">{{ tag[0] }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</nav>
<nav id="main-nav-bar-2" class="visible-xs-block navbar navbar-inverse navbar-static-top">
	<!-- display sm md lg -->
	<div class="container" >
		<div class="navbar-header ">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarshop2" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="navbar-brand hidden-sm">
				<span><a href="/" title="主页">lijiaocn</a></span>
				<span class="glyphicon glyphicon-hand-right" style="margin-left:15px"></span>
			</div>

		</div>
		<div class="collapse navbar-collapse " id="navbarshop2">
			<ul class="nav navbar-nav">
				{% for tag in site.tags %} 
					<li><a href="{{ site.baseurl }}/tags/{{ tag[0]}}.html">{{ tag[0] }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</nav>
