<nav class="navbar navbar-inverse navbar-fixed-static topnav">
	<!-- display sm md lg -->
	<div class="container" >
		<div class="navbar-header ">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#categories" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="navbar-brand hidden-sm">
				<span><a href="/" title="主页">lijiaocn</a></span>
				<span class="glyphicon glyphicon-hand-right" style="margin-left:15px"></span>
			</div>

		</div>
		<div class="collapse navbar-collapse " id="categories">
			<ul class="nav navbar-nav">
				<li><a href="{{ site.baseurl }}/tutorial/">教程</a></li>
				{% for cate in site.categories %} 
					<li><a href="{{ site.baseurl }}/categories/{{ cate[0]}}.html">{{ cate[0] }}</a></li>
				{% endfor %}
				<li><a href="{{ site.baseurl }}/tags/all.html">标签</a></li>
			</ul>
		</div>
	</div>
</nav>
