---
layout: default
title:  drafts
author: lijiaocn
keywords:  drafts,乱七八糟的内容
description: drafts,乱七八糟的内容   

---

{% for tag in site.tags %} 
	{% if tag[0] == "drafts" %}
		<div class="postlist">
		{% for post in tag[1] %}
			<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
			<div class="postinfo" >
				<p><span>{{ post.tags }} / {{ post.author }} / {{ post.createdate }}</span></p>
			</div>
			<div class="postdesc">
				<p>{{ post.description }}... <a href="{{ site.baseurl }}{{ post.url }}">more</a><p>
			</div>
		{% endfor %}
		</div>
	{% endif %}
{% endfor %}
