---
layout: index
title: 深度好文|人生经历
author: 
keywords: 人生经历,资深人士,教育意义,教训深刻
description: 这里是最牛推荐(znr.io)收录的资深人士讲述人生经历的文章列表。znr.io只收录、推荐最牛的人生经历好文章！

---

{% for tag in site.tags %} 
	{% if tag[0] == "人生经历" %}
		<div class="postlist">
			{% for post in tag[1] %}
				<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
				<div class="postinfo" >
					<p><span>{{ post.tags }} / {{ post.author }} / {{ post.createdate }}</span></p>
				</div>
				<div class="postdesc">
					<p>{{ post.description }}... <a href="{{ site.baseurl }}{{ post.url }}">more</a><p>
				</div>
				<hr>
			{% endfor %}
		</div>
	{% endif %}
{% endfor %}
