---
layout: tags
title:  前端
author: lijiaocn
keywords:  前端,信息呈现,人机交互
description: 前端,信息呈现,人机交互   

---

{% for tag in site.tags %} 
	{% if tag[0] == "前端" %}
		<div class="postlist">
		{% for post in tag[1] %}
			<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
			<div class="postinfo" >
				<p><span>{{ post.tags }} / {{ post.author }} / {{ post.createdate }}</span></p>
			</div>
			<div class="postdesc">
				<p>{{ post.description }}... <a href="{{ site.baseurl }}{{ post.url }}">more</a><p>
			</div>
		{% endfor %}
		</div>
	{% endif %}
{% endfor %}
