---
layout: default
title:  系列
author: lijiaocn
keywords:  系列,成系列的文章
description: 系列,成系列的文章  

---

{% for tag in site.tags %} 
	{% if tag[0] == "系列" %}
		<div class="postlist">
		{% for post in tag[1] %}
			<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
			<div class="postinfo" >
				<p><span>{{ post.tags }} / {{ post.author }} / {{ post.createdate }}</span></p>
			</div>
			<div class="postdesc">
				<p>{{ post.description }}... <a href="{{ site.baseurl }}{{ post.url }}">more</a><p>
			</div>
		{% endfor %}
		</div>
	{% endif %}
{% endfor %}
