---
layout: tags
title:  问题
author: lijiaocn
keywords:  问题,遇到的一些问题的解决
description: 问题,问题解决,记录了这些问题是怎样解决的。 

---

{% for tag in site.tags %} 
	{% if tag[0] == "问题" %}
		<div class="postlist">
		{% for post in tag[1] %}
			<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
			<div class="postinfo" >
				<p><span>{{ post.tags }} / {{ post.author }} / {{ post.createdate }}</span></p>
			</div>
			<div class="postdesc">
				<p>{{ post.description }}... <a href="{{ site.baseurl }}{{ post.url }}">more</a><p>
			</div>
		{% endfor %}
		</div>
	{% endif %}
{% endfor %}
