<!DOCTYPE html>
<html lang="zh-CN">
	{% include head.html %}
<body class="body custom-background ">
	{% include topnav.html %}
	<div class="container noticerow">
		<div class="row">
			{% include first-row.html %}
		</div>
	</div>

	<div class="container main">
		<div class="row">
			<div class="visible-md-block visible-lg-block col-md-2 col-lg-2 lsidebar">
				{% include main-lsidebar.html %}
			</div>
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 center">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pageheader">
						{{ site.pageheader }}<hr style="margin-top:0px;margin-bottom:0px">
					</div>
				</div>
				<div class="row">
					{% include top_banner_ad.html %}
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content">
						{% if page.author %}
							<p class="author">作者: {{ page.author }} 创建: {{ page.createdate }}</p>
						{% endif %}

						{{content}}
					</div>
					<p style="text-align:center;font-size:17px"><a href="/2010/10/10/about.html">站长微信（朋友圈有精华，一般不闲聊）</a></p>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 content">
							<img src="{{ site.imglocal }}/class.jpg"></img>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 content">
							<!-- 底部二维码并列 -->
							<ins class="adsbygoogle"
								 style="display:block"
								 data-ad-client="ca-pub-8176866190626448"
								 data-ad-slot="1398175214"
								 data-ad-format="auto"
								 data-full-width-responsive="true"></ins>
							<script>
								 (adsbygoogle = window.adsbygoogle || []).push({});
							</script>
						</div>
					</div>
				</div>
				<div class="row">
					{% include social.html.no %}
				</div>
				<div class="row" style="text-align:center">
					{% include listpage-bottom.html %}
				</div>
			</div>
			<div class="visible-md-block visible-lg-block col-md-2 col-lg-2 rsidebar">
				{% include main-rsidebar.html %}
			</div>
		</div>
	</div>

	<div class="container-fluid foot">
	{% include foot.html %}
	</div>

	<script src="{{ site.baseurl }}/js/jquery-1.24.4.min.js"></script>
	<script src="{{ site.baseurl }}/js/bootstrap-3.3.7.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/body.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/duomai.body.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/taobao.body.js"></script>
	<script src="https://s1.bdstatic.com/r/www/cache/global/js/BaiduHttps_20150714_zhanzhang.js"></script>
</body>
</html>
