<!DOCTYPE html>
<html lang="zh-CN">
	{% include head.html %}
<body class="body custom-background ">
	{% include topnav.html %}
	<div class="container noticerow">
		<div class="row">
			{% include first-row.html %}
		</div>
	</div>

	<div class="container main">
		<div class="row center">
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
				{% if page.author %}
					<p class="author">作者: {{ page.author }} 创建: {{ page.createdate }}</p>
				{% endif %}
				{{content}}
			</div>
			<div class="visible-md-block visible-lg-block col-md-2 col-lg-2 rsidebar">
				{% include main-rsidebar.html %}
			</div>
		</div>

		<div class="row" style="text-align:center">
			{% include main-bottom.html %}
		</div>
	</div>

	<div class="container-fluid foot">
	{% include foot.html %}
	</div>

	<script src="{{ site.baseurl }}/js/jquery-1.24.4.min.js"></script>
	<script src="{{ site.baseurl }}/js/bootstrap-3.3.7.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/body-2023-2.js"></script>
	<script src="https://s1.bdstatic.com/r/www/cache/global/js/BaiduHttps_20150714_zhanzhang.js"></script>
</body>
</html>
