<!DOCTYPE html>
<html lang="zh-CN">
	{% include head.html %}
<body class="body custom-background" data-spy="scroll" data-target="sidebarMenu">
	{% include topnav.html %}

	<div class="container main">
		<div class="row center">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="row content">
					<h1>{{ page.title }}</h1>
				</div>

				<div class="row">
					{% include top_banner_ad.html %}
				</div>

				{% if page.author %}
				<div class="row">
					<p></p>
					<p class="author">
						{% for tag in page.tags %}
						<span><a href="{{ site.baseurl }}/tags/all.html#{{ tag }}">{{ tag }}</a></span>&nbsp;
						{% endfor %}
						<!--span><a href="{{ site.baseurl }}/2010/10/10/about.html" class="author">{{ page.author }}  @ {{  page.date |date: "%Y-%m-%d" }} @ {{ page.last_modified_at | date: "%Y-%m-%d" }}</a></span-->
					</p>
				</div>
				{% endif %}
			</div>
		<div>

		<div class="row center">
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
				{{content}}
			</div>
			<div class="visible-md-block visible-lg-block col-md-2 col-lg-2 rsidebar">
				{% include main-rsidebar.html %}
			</div>
		</div>

		<div class="row" style="text-align:center">
			{% include main-bottom.html %}
		</div>
	</div>

	<div class="container-fluid foot">
	{% include foot.html %}
	</div>

	<script src="{{ site.baseurl }}/js/jquery-1.24.4.min.js"></script>
	<script src="{{ site.baseurl }}/js/bootstrap-3.3.7.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/body-2023-2.js"></script>
	<script src="https://s1.bdstatic.com/r/www/cache/global/js/BaiduHttps_20150714_zhanzhang.js"></script>
</body>
</html>
