<!DOCTYPE html>
<html lang="zh-CN">
	{% include head.html %}
<body class="body custom-background" data-spy="scroll" data-target="sidebarMenu">
	{% include topnav.html %}
	<div class="container noticerow">
		<div class="row">
			{% include first-row.html %}
		</div>
	</div>

	<div class="container main">
		<div class="row">
			<div class="visible-md-block visible-lg-block col-md-2 col-lg-2 lsidebar">
				{% include main-lsidebar.html %}
			</div>
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 center">
				<div class="row content">
					<h1>{{ page.title }}</h1>
				</div>

				<div class="row pageheader">
					{{ site.pageheader }}
				</div>

				{% if page.author %}
				<div class="row">
					<p class="author">作者：<a href="{{ site.baseurl }}/2010/10/10/about.html">{{ page.author }}</a>&nbsp;&nbsp;更新时间：{{ page.last_modified_at }}</p>
				</div>
				{% endif %}

				<div class="row">
					{% include top_banner_ad.html %}
				</div>

				<div class="row" style="text-align:center">
					<p class="author">
					<span class="glyphicon glyphicon-home"></span>&nbsp;
					<span><a href="{{ site.baseurl }}/categories/{{ page.categories }}.html">{{ page.categories }}</a></span>&nbsp;
					<span class="glyphicon glyphicon-tag"></span>&nbsp;
					{% for tag in page.tags %}
					<span><a href="{{ site.baseurl }}/tags/all.html#{{ tag }}">{{ tag }}</a></span>&nbsp;
					{% endfor %}
					<span class="glyphicon glyphicon-refresh"></span>&nbsp;
					<span><a href="{{ site.baseurl }}{{ post.url}}">刷新</a></span>
					</p>
				</div>

				<div class="row">
					{% include social.html.no %}
				</div>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content">
						{{content}}
					</div>
					<p style="text-align:center;font-size:17px"><a href="/2010/10/10/about.html">站长微信（朋友圈有精华，一般不闲聊）</a></p>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 content">
							<img src="{{ site.imglocal }}/class.jpg"></img>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 content">
							<!-- 底部二维码并列 -->
							<ins class="adsbygoogle"
								 style="display:block"
								 data-ad-client="ca-pub-8176866190626448"
								 data-ad-slot="1398175214"
								 data-ad-format="auto"
								 data-full-width-responsive="true"></ins>
							<script>
								 (adsbygoogle = window.adsbygoogle || []).push({});
							</script>
						</div>
					</div>
				</div>

				<div class="row" style="text-align:center">
					{% include main-bottom.html %}
				</div>
			</div>

			<div class="visible-md-block visible-lg-block col-md-2 col-lg-2 rsidebar">
				{% include main-rsidebar.html %}
			</div>

		</div>
	</div>

	<div class="container-fluid foot">
	{% include foot.html %}
	</div>

	<script src="{{ site.baseurl }}/js/jquery-1.24.4.min.js"></script>
	<script src="{{ site.baseurl }}/js/bootstrap-3.3.7.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/body.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/duomai.body.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/taobao.body.js"></script>
	<script src="https://s1.bdstatic.com/r/www/cache/global/js/BaiduHttps_20150714_zhanzhang.js"></script>
</body>
</html>
