<!DOCTYPE html>
<html lang="zh-CN">
	{% include head.html %}
<body class="body" data-spy="scroll" data-target="sidebarMenu">
	{% include topnav.html %}
	<div class="container main">
		<div class="row">
			{% include main-first-row.html %}
		</div>
	</div>

	<div class=".visible-lg-block lsidebar">
		{% include main-lsidebar.html %}
	</div>

	<div class="container main">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 center">
				<div class="row">
					<div class="col-xs-12 col-lg-12">
						{{ site.pageheader }}<hr style="margin-top:0px;margin-bottom:0px">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-lg-12">
						<h1>{{ page.title }}</h1>
						{% if page.author %}
							<p>（{{ page.author }}  {{ page.createdate }}）</p>
						{% endif %}
						{{content}}
					</div>
				</div>
				<div class="row">
					{% include social.html %}
				</div>
				<div class="row">
					{% include main-bottom.html %}
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 rsidebar">
				{% include main-rsidebar.html %}
			</div>
		</div>
	</div>

	<div class="container-fluid foot">
	{% include foot.html %}
	</div>

	<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="http://s1.bdstatic.com/r/www/cache/global/js/BaiduHttps_20150714_zhanzhang.js"></script>
	<script src="{{ site.baseurl }}/js/body.js"></script>
</body>
</html>
